<section class="container">

  <nav id="nav">

    <div class="left">
      <a href="/" class="logo"><img src="assets/img/logo.svg" class="logo-normal" alt="brand" height="24px"/><img src="assets/img/logo_pink.svg" class="logo-pink" alt="brand" height="24px"/></a>
    </div>

    <ul>
      <li><a href="/work">WORK</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/news">NEWS</a></li>
      <li><a href="/thinking">THINKING</a></li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>

    <div class="right">
      <a href="#" class="myBtn">
        <img src="assets/img/menu.svg" class="ellipsis" alt="ellipsis" height="8px"/>
        <img src="assets/img/menu_pink.svg" class="ellipsis-pink" alt="ellipsis-pink" height="8px"/></a>
    </div>

  </nav>

  <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">

    <header class="flex-container">

      <div class="left">
        <h3>(6) Internal Works<br>©2020 c/o BASIC®</h3>
      </div>

      <div class="middle">
        <h3>A collection of internal project and initiatives under <br> the BASIC® brand.</h3>
      </div>

      <div class="right">
        <span class="close"><i class="far fa-times-circle"></i></span>
      </div>

    </header>

    <section id="modal-slider">
      <div class="modal-card">
        <img src="/assets/img/think1.jpg" alt="modal image">
        <h3>Culture Manual® ©2018</h3>
        <p>Agency Culture & Onboarding</p>
        <a href="#" class="btn">VISIT THE SITE</a>
      </div>
      <div class="modal-card">
        <img src="/assets/img/think1.jpg" alt="modal image">
        <h3>Culture Manual® ©2018</h3>
        <p>Agency Culture & Onboarding</p>
        <a href="#" class="btn">VISIT THE SITE</a>
      </div>
      <div class="modal-card">
        <img src="/assets/img/think1.jpg" alt="modal image">
        <h3>Culture Manual® ©2018</h3>
        <p>Agency Culture & Onboarding</p>
        <a href="#" class="btn">VISIT THE SITE</a>
      </div>
      <div class="modal-card">
        <img src="/assets/img/think1.jpg" alt="modal image">
        <h3>Culture Manual® ©2018</h3>
        <p>Agency Culture & Onboarding</p>
        <a href="#" class="btn">VISIT THE SITE</a>
      </div>
      <div class="modal-card">
        <img src="/assets/img/think1.jpg" alt="modal image">
        <h3>Culture Manual® ©2018</h3>
        <p>Agency Culture & Onboarding</p>
        <a href="#" class="btn">VISIT THE SITE</a>
      </div>
     
    </section>
    


</div>

</section>
