<section class="container">

  <nav id="nav">

    <div class="left">
      <a href="/" class="logo"
        ><img src="assets/img/logo.svg" alt="brand" height="24px"
      /></a>
    </div>

    <ul>
      <li><a href="/work">WORK</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/news">NEWS</a></li>
      <li><a href="/thinking">THINKING</a></li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>

    <div class="right">
      <a href="#" class="ellipsis"><img src="assets/img/menu.svg" alt="ellipsis" height="8px"/></a>
    </div>

  </nav>

</section>
