<%- include('./partials/head') %>
<div id="about-wrapper">
<%- include('./partials/nav') %>
<div class="container">
<main id="about">
<section class="first flex-container">
<div class="left">
    <h1>WE TURN <br>CULTURAL<br>VALUE</h1>
</div>
<div class="right">
    <h1>●INTO<br>COMPANY<br>VALUE</h1>
    <p>
        BASIC® is an independent branding & experience design company working at the intersection of culture, design, and technology. We value our craft, have a deep passion for progression, and exist to solve challenges for brands we believe in. Since the beginning, our mission has been to do great work and to have a great time doing it. We believe our mission has guided us well.
    </p>
</div>
</section>
<section id="annoying-pics" class="flex-container">
<div class="left">
    <p>EASY TO UNDERSTAND.<br> IMPOSSIBLE TO IGNORE.™<br> BASIC®, INC 10 - 20©</p>
</div>
<div class="right">
    <img src="/assets/img/hover-1.jpg" alt="image" class="img-1" >
    <p class="img1-num">(01)</p>
    <img src="/assets/img/hover-2.jpg" alt="image" class="img-2" >
    <p class="img2-num">(02)</p>
    <img src="/assets/img/hover-4.jpg" alt="image" class="img-4" >
    <p class="img4-num">(04)</p>
    <img src="/assets/img/hover-3.jpg" alt="image" class="img-3" >
    <p class="img3-num">(03)</p>

</div>
</section>

<section class="agency-snapshot">
    <h1>BASIC®</h1>
    <div class="flex-container first">
        <p>SEC.</p>
        <p>/A</p>
        <p class="txt-right">●</p>
    </div>

    <div class="wrap flex-container">
        <div class="left">
            <h2>AGENCY<br>SNAPSHOT</h2>
        </div>
        <div class="right">
        <!-- row one -->
        <div class="card-container flex-container">
            <div class="card left">
                <h3>PEOPLE</h3>
                <h2>100+</h2>
                <p>We're a world-class team of diverse individuals who are here to do great work as well as be great to work with. Explore our culture manual.
                </p>
            </div>
            <div class="card right">
                <h3>OFFICES</h3>
                <h2>03</h2>
                <p>San Diego, The Bay Area, and St. Louis. Feel free to reach out and say hello :)
                </p>
            </div>
        </div>

        <!-- row two -->

        <div class="card-container flex-container">
            <div class="card left">
                <h3>PEOPLE</h3>
                <h2>100+</h2>
                <p>We're a world-class team of diverse individuals who are here to do great work as well as be great to work with. Explore our culture manual.
                </p>
            </div>
            <div class="card right">
                <h3>OFFICES</h3>
                <h2>03</h2>
                <p>San Diego, The Bay Area, and St. Louis. Feel free to reach out and say hello :)
                </p>
            </div>
        </div>

        <!-- row three -->

        <div class="card-container flex-container">
            <div class="card left">
                <h3>PEOPLE</h3>
                <h2>100+</h2>
                <p>We're a world-class team of diverse individuals who are here to do great work as well as be great to work with. Explore our culture manual.
                </p>
            </div>
            <div class="card right">
                <h3>OFFICES</h3>
                <h2>03</h2>
                <p>San Diego, The Bay Area, and St. Louis. Feel free to reach out and say hello :)
                </p>
            </div>
        </div>
            
        </div>
    </div>
</section>

<!-- list section -->
<section class="agency-snapshot list-section">
    <div class="flex-container first">
        <p>SEC.</p>
        <p>/A</p>
        <p class="txt-right">●</p>
    </div>

    <div class="wrap flex-container">
        <div class="left">
            <h2>CAPABILITIES</h2>
        </div>
        <div class="right">
        <!-- row one -->
        <div class="card-container flex-container">
            <div class="card left second">
                <h3>STRATEGIC PLANNING</h3>
                    <ul>
                        <li>Customer Experience</li>
                        <li>Consumer Insights + Trends</li>
                        <li>Omnichannel + D2C</li>
                        <li>Product + Service Vision</li>
                        <li>Go-To Market Planning</li>
                        <li>Data Science + Analytics</li>
                    </ul>
            </div>
            <div class="card right second">
                <h3>STRATEGIC PLANNING</h3>
                    <ul>
                        <li>Customer Experience</li>
                        <li>Consumer Insights + Trends</li>
                        <li>Omnichannel + D2C</li>
                        <li>Product + Service Vision</li>
                        <li>Go-To Market Planning</li>
                        <li>Data Science + Analytics</li>
                    </ul>
            </div>
        </div>

        <!-- row two -->

        <div class="card-container flex-container second">
            <div class="card left">
                <h3>STRATEGIC PLANNING</h3>
                    <ul>
                        <li>Customer Experience</li>
                        <li>Consumer Insights + Trends</li>
                        <li>Omnichannel + D2C</li>
                        <li>Product + Service Vision</li>
                        <li>Go-To Market Planning</li>
                        <li>Data Science + Analytics</li>
                    </ul>
            </div>
            <div class="card right">
                <h3>STRATEGIC PLANNING</h3>
                    <ul>
                        <li>Customer Experience</li>
                        <li>Consumer Insights + Trends</li>
                        <li>Omnichannel + D2C</li>
                        <li>Product + Service Vision</li>
                        <li>Go-To Market Planning</li>
                        <li>Data Science + Analytics</li>
                    </ul>
            </div>
        </div>

        <!-- row three -->

        <div class="card-container second flex-container">
            <div class="card left">
                <h3>STRATEGIC PLANNING</h3>
                    <ul>
                        <li>Customer Experience</li>
                        <li>Consumer Insights + Trends</li>
                        <li>Omnichannel + D2C</li>
                        <li>Product + Service Vision</li>
                        <li>Go-To Market Planning</li>
                        <li>Data Science + Analytics</li>
                    </ul>
            </div>
            <div class="card right">
               
            </div>
        </div>
            
        </div>
    </div>
</section>
 

<!-- awards section -->
<section id="awards">
    <div class="flex-container">
        <div class="left">
            <h2>AWARDS</h2>
        </div>
        <div class="right">
            <p>
                While results are what matter most, we believe awards bring value and recognition to organizations as well as individuals.
            </p>
            <a href="" class="btn">full awardslist</a>
        </div>
    </div>
</section>

<!-- tabs section -->
<section id="tabs" class="flex-container">
    <div class="left">
        <a href="#" class="tablinks" onmouseover="showPic(event, 'hover-1')"><h1>WEBBY AWARDS</h1><span>/40</span></a><br>

        <a href="#" class="tablinks" onmouseover="showPic(event, 'hover-2')"><h1>ADWEEK</h1><span>/01</span></a><br>

        <a href="#" class="tablinks" onmouseover="showPic(event, 'hover-3')"><h1>AWWWARDS</h1><span>/22</span></a><br>

        <a href="#" class="tablinks" onmouseover="showPic(event, 'hover-4')"><h1>D&AD</h1><span>/01</span></a><br>

        <a href="#" class="tablinks" onmouseover="showPic(event, 'hover-5')"><h1>ONE SHOW</h1><span>/03</span></a><br>

       <a href="#" class="tablinks" onmouseover="showPic(event, 'hover-6')"><h1>THE FWA</h1><span>/07</span></a><br>
    </div>

    <div class="right">
        <div id="hover-1" class="tabcontent">
            <img src="/assets/img/hover-1.jpg" alt="image">
        </div>
        <div id="hover-2" class="tabcontent">
            <img src="/assets/img/hover-2.jpg" alt="image">
        </div>
        <div id="hover-3" class="tabcontent">
            <img src="/assets/img/hover-3.jpg" alt="image">
        </div>
        <div id="hover-4" class="tabcontent">
            <img src="/assets/img/hover-4.jpg" alt="image">
        </div>
        <div id="hover-5" class="tabcontent">
            <img src="/assets/img/hover-5.jpg" alt="image">
        </div>
        <div id="hover-6" class="tabcontent">
            <img src="/assets/img/hover-6.jpg" alt="image">
        </div>
          
    </div>
</section>

</main>
</div>
<%- include('./partials/footer') %>
</div>