<%- include('./partials/head') %>
<div id="contact-wrapper">
  <%- include('./partials/nav') %>
  <main id="contact">
    <div class="container">
      <header class="flex-container">
          <div class="left">
            <img src="/assets/img/Contact-Header.jpg" alt="headphones" />
          </div>
          <div class="right">
            <h1>B®/<br />CONTACT</h1>
            <p>
                EASY TO UNDERSTAND.<br />
                IMPOSSIBLE TO IGNORE.™<br />
                BASIC®, INC 10 - 20©
            </p>
            <div class="flex-container info">
                <div class="left">
                  <p>●</p>
                </div>
                <div class="mid">
                  <h3>NEW BUSINESS</h3>
                  <a href="mailto:">hi@mail.com</a>
                  <h3>PRESS</h3>
                  <a href="mailto:">hi@mail.com</a>
                </div>
                <div class="right">
                  <h3>GENERAL</h3>
                  <a href="mailto:">hi@mail.com</a>
                  <h3>JOIN US</h3>
                  <a href="mailto:">hi@mail.com</a>
                </div>
            </div>
          </div>
      </header>
      <div class="flex-container first">
          <p>SEC.</p>
          <p class="what-is-this">/A</p>
          <p class="txt-right">●</p>
      </div>
      <section id="offices" class="flex-container">
          <div class="one-third">
            <h2>OFFICES</h2>
          </div>
          <div class="two-thirds">
            <!-- row 1 -->
            <div class="flex-container">
                <div class="card">
                  <div class="media">
                      <img src="/assets/img/SD.jpg" alt="image" />
                  </div>
                  <div class="flex-container pointless">
                      <span>01</span><span>/03</span>
                  </div>
                </div>
                <div class="card">
                  <h3>SAN DIEGO (HQ)</h3>
                </div>
            </div>
            <p class="rule"></p>
            <!-- row 2 -->
            <div class="flex-container">
                <div class="card">
                  <div class="media">
                      <img src="/assets/img/mtv.jpg" alt="image" />
                  </div>
                  <div class="flex-container pointless">
                      <span>01</span><span>/03</span>
                  </div>
                </div>
                <div class="card">
                  <h3>BAY AREA</h3>
                </div>
            </div>
            <p class="rule"></p>
            <!-- row 3 -->
            <div class="flex-container">
                <div class="card">
                  <div class="media">
                      <img src="/assets/img/stl.jpg" alt="image" />
                  </div>
                  <div class="flex-container pointless">
                      <span>01</span><span>/03</span>
                  </div>
                </div>
                <div class="card">
                  <h3>ST. LOUIS</h3>
                </div>
            </div>
            <p class="rule"></p>
          </div>
      </section>
      <section class="pre-footer">
          <div class="flex-container first">
            <p>SEC.</p>
            <p class="what-is-this">/A</p>
            <p class="txt-right">●</p>
          </div>
          <div class="flex-container soc">
            <div class="left">
                <h2>FOLLOW</h2>
            </div>
            <div class="cent">
                <h3>Social</h3>
                <ul>
                  <li><a href="#">Instagram</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">LinkedIn</a></li>
                  <li><a href="#">Facebook</a></li>
                </ul>
            </div>
            <div class="right">
                <h4>STAY IN THE KNOW</h4>
                <p class="uline">Email Address</p>
            </div>
          </div>
      </section>
    </div>
  </div>
</main>
  <%- include('./partials/footer') %>
</div>