<%- include('./partials/head') %>
<%- include('./partials/nav') %>
<main id="home">
   <div class="container">
      <h1>WHAT'S NEXT <br>STARTS</h1>
      <h1 class="heading-right">●HERE</h1>
      <video width="100%" height="auto" autoplay>
         <source src="assets/img/Hero.mp4" type="video/mp4">
         Your browser does not support the video tag.
      </video>
      <section id="basic-is">
         <small>STRATEGY, DESIGN, TECHNOLOGY</small>
         <div class="flex-container">
            <p class="emphasis">BASIC® is a branding and digital design agency building products, services, and ecommerce experiences that turn cultural values into company value.</p>
            <div class="right">
               <!-- background img goes here -->
            </div>
         </div>
         <a href="#" class="btn">SEE THE WORK</a>
      </section>
      <section id="featured">
         <h2>FEATURED<BR>ENGAGEMENTS</h2>
         <div class="flex-container">
            <div class="card">
               <img src="/assets/img/google-dark.svg" alt="logo">
               <p class="company">GOOGLE</p>
               <p class="desc">Our embedded partnership with Google is as deep as it gets. We’re the lead creative agency for Google Store and provide strategy, design, and prototyping to other divisions.
               </p>
            </div>
            <div class="card">
               <img src="/assets/img/patagonia-dark.svg" alt="logo">
               <p class="company">PATAGONIA</p>
               <p class="desc">Ongoing partnership providing strategy, branding, experience design, and development focused on bringing their mission and offerings to consumers through brand-led programs and platforms.
               </p>
            </div>
            <div class="card">
               <img src="/assets/img/airbnb-dark.svg" alt="logo">
               <p class="company">AIRBNB</p>
               <p class="desc">Helping the world’s leading peer-to-peer hospitality company with creative vision, experience strategy, and execution in partnership with various departments and divisions internally at Airbnb.
               </p>
            </div>
            <div class="card">
               <img src="/assets/img/herman-miller-resized.svg" alt="logo">
               <p class="company">HERMAN MILLER</p>
               <p class="desc">A collaborative and performance incentivized partnership with our teams working side by side to reimagine the digital shopping experiences for Herman Miller, Design Within Reach, and Hay.
               </p>
            </div>
            <div class="card">
               <img src="/assets/img/under-armour-dark.svg" alt="logo">
               <p class="company">UNDER ARMOUR</p>
               <p class="desc">Strategy, design, and development to differentiate the iconic brand’s direct-to-consumer experience through an all new omnichannel approach, global eCommerce 
               </p>
            </div>
         </div>
      </section>
   </div>
   <!-- /container -->
   <div class="bg-primary">
      <div class="container">
         <section id="basic">
            <div class="flex-container">
               <div class="left">
                  <h1>BASIC® HELPS<br>BRANDS<br>●CONNECT<br>W/ CULTURE</h1>
                  <p>ADWEEK (AGENCY SPOTLIGHT)</p>
                  <a href="#" class="btn">ABOUT US</a>
               </div>
               <div class="right">
                  <video width="100%" height="auto" autoplay>
                     <source src="assets/img/Culture.mp4" type="video/mp4">
                     Your browser does not support the video tag.
                  </video>
               </div>
            </div>
         </section>
         <section id="featured-news">
            <h2>FEATURED<br>NEWS</h2>
            <div class="flex-container wrap">
               <div class="left"><img src="/assets/img/Adweek.jpg" alt="news"></div>
               <div class="center flex-container">
                  <p class="emphasis"> <a href="#"> BASIC® Deemed One of the World’s Fastest Growing Agencies by Adweek </a></p>
                  <small>PRESS   05.25.19</small>
               </div>
               <div class="right"></div>
            </div>
            <div class="flex-container wrap">
               <div class="left"><img src="/assets/img/brand.jpg" alt="news"></div>
               <div class="center flex-container">
                  <p class="emphasis"> <a href="#">The Webby Awards Select BASIC® to Rethink the Future of Their Brand and Digital Platform</a></p>
                  <small>WORK 12.13.19</small>
               </div>
               <div class="right"></div>
            </div>
            <div class="flex-container wrap">
               <div class="left"><img src="/assets/img/Furrion-Partnership.jpg" alt="news"></div>
               <div class="center flex-container">
                  <p class="emphasis"> <a href="#">BASIC® and Furrion partner to launch all new eCommerce website built for a D2C future</a></p>
                  <small>WORK 08.29.19</small>
               </div>
               <div class="right"></div>
            </div>
         </section>
      </div>
   </div>
</main>
<!-- /#home -->
<%- include('./partials/footer') %>