<%- include('./partials/head') %>
<%- include('./partials/nav') %>
<div class="container">
  
    <main id="newspage">
        <header class="flex-container">      
            <h1>NEWS</h1>
            <p>●</p>
        </header>
  
        <div class="flex-container wrap">
            <div class="left"><img src="/assets/img/Adweek.jpg" alt="news"></div>
            <div class="center flex-container"><p class="emphasis"> <a href="#"> BASIC® Deemed One of the World’s Fastest Growing Agencies by Adweek </a></p>
            <small><strong>PRESS</strong>    05.25.19</small>
            </div>
            <div class="right"></div>
        </div>

        <div class="flex-container wrap">
            <div class="left"><img src="/assets/img/brand.jpg" alt="news"></div>
            <div class="center flex-container"><p class="emphasis"> <a href="#">The Webby Awards Select BASIC® to Rethink the Future of Their Brand and Digital Platform</a></p>
            <small><strong>PRESS</strong> 12.13.19</small>
            </div>
            <div class="right"></div>
        </div>

        <div class="flex-container wrap">
            <div class="left"><img src="/assets/img/brand.jpg" alt="news"></div>
            <div class="center flex-container"><p class="emphasis"> <a href="#">The Webby Awards Select BASIC® to Rethink the Future of Their Brand and Digital Platform</a></p>
            <small><strong>PRESS</strong> 12.13.19</small>
            </div>
            <div class="right"></div>
        </div>

        <div class="flex-container wrap">
            <div class="left"><img src="/assets/img/Furrion-Partnership.jpg" alt="news"></div>
            <div class="center flex-container"><p class="emphasis"> <a href="#">BASIC® and Furrion partner to launch all new eCommerce website built for a D2C future</a></p>
            <small><strong>PRESS</strong> 08.29.19</small>
            </div>
            <div class="right"></div>
        </div>
    </main>




    
</div>

<%- include('./partials/footer') %>