<%- include('./partials/head') %>
<div id="thinking-wrapper">
<%- include('./partials/nav') %>

<div class="container">
    <main id="thinking">
        <header class="flex-container">      
            <h1>THINKING</h1>
            <p>●</p>
        </header>

<div class="flex-container info">
    <div class="left">
        <h2>BRANDBEATS®</h2>
        <p>Brandbeats® is our agency podcast garnering over 45,000+ listens per episode where we discuss industry happenings for 30 minutes as well as provide ten tracks of curated music. Our conversations are a candid exploration of design topics, branding trends, and experiences we’re noticing in culture.</p>
    </div>
    <div class="right">
        <h2>APPLIED®</h2>
        <p>Applied® is our panel series and thought-leadership platform where we share perspectives and tactics related to strategy, design, and technology. The content is raw and driven by honest observations and guided questions that use culture to explain why trends exist and how they impact business and tech.</p>
    </div>

</div>

<div class="flex-container wrap">
    <div class="left"><img src="/assets/img/Adweek.jpg" alt="news"></div>
    <div class="center flex-container"><p class="emphasis"> <a href="#"> BASIC® Deemed One of the World’s Fastest Growing Agencies by Adweek </a></p>
    <small><strong>PRESS</strong>    05.25.19</small>
    </div>
    <div class="right"></div>
</div>

<div class="flex-container wrap">
    <div class="left"><img src="/assets/img/Adweek.jpg" alt="news"></div>
    <div class="center flex-container"><p class="emphasis"> <a href="#"> BASIC® Deemed One of the World’s Fastest Growing Agencies by Adweek </a></p>
    <small><strong>PRESS</strong>    05.25.19</small>
    </div>
    <div class="right"></div>
</div>

<div class="flex-container wrap">
    <div class="left"><img src="/assets/img/Adweek.jpg" alt="news"></div>
    <div class="center flex-container"><p class="emphasis"> <a href="#"> BASIC® Deemed One of the World’s Fastest Growing Agencies by Adweek </a></p>
    <small><strong>PRESS</strong>    05.25.19</small>
    </div>
    <div class="right"></div>
</div>

<div class="flex-container wrap">
    <div class="left"><img src="/assets/img/Adweek.jpg" alt="news"></div>
    <div class="center flex-container"><p class="emphasis"> <a href="#"> BASIC® Deemed One of the World’s Fastest Growing Agencies by Adweek </a></p>
    <small><strong>PRESS</strong>    05.25.19</small>
    </div>
    <div class="right"></div>
</div>

<div class="flex-container wrap">
    <div class="left"><img src="/assets/img/Adweek.jpg" alt="news"></div>
    <div class="center flex-container"><p class="emphasis"> <a href="#"> BASIC® Deemed One of the World’s Fastest Growing Agencies by Adweek </a></p>
    <small><strong>PRESS</strong>    05.25.19</small>
    </div>
    <div class="right"></div>
</div>

<div class="flex-container wrap">
    <div class="left"><img src="/assets/img/Adweek.jpg" alt="news"></div>
    <div class="center flex-container"><p class="emphasis"> <a href="#"> BASIC® Deemed One of the World’s Fastest Growing Agencies by Adweek </a></p>
    <small><strong>PRESS</strong>    05.25.19</small>
    </div>
    <div class="right"></div>
</div>




    </main>
</div>

<%- include('./partials/footer') %>
</div>