@font-face {
  font-family: SctoGroteskA-Bold;
  src: url(../fonts/SctoGroteskA-Bold.woff2) format("woff2");
}

@font-face {
  font-family: SctoGroteskA-Medium;
  src: url(../fonts/SctoGroteskA-Medium.woff2) format("woff2");
}

@font-face {
  font-family: SctoGroteskA-Regular;
  src: url(../fonts/SctoGroteskA-Regular.woff2) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  cursor: pointer;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input, textarea {
  outline: none;
}

ul, ol, dd {
  list-style: none;
}

html {
  font-family: "SctoGroteskA-Regular";
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #f9cdcd;
  font-family: "SctoGroteskA-Regular";
}

h1 {
  margin-bottom: 30px;
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

p {
  font-weight: 400;
}

.container {
  margin: 0 4%;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.emphasis {
  font-size: 1.5rem;
  font-family: "SctoGroteskA-Bold";
}

#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 76px;
}

#nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#nav ul li {
  border-bottom: 3px solid transparent;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#nav ul li:hover {
  border-bottom: 3px solid #252422;
}

#nav ul li a {
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

#nav ul li a:hover > a {
  color: #252422;
}

#footer {
  background: #252422;
  color: white;
}

#footer h5 {
  color: white;
}

#footer .row-one {
  height: 150px;
}

#footer div.left-upper {
  width: 50%;
  background: url("/assets/img/footer-logo.svg") left top/7% no-repeat scroll;
}

#footer div.right-upper {
  width: 50%;
}

#footer div.right-upper a {
  text-decoration: underline;
}

#footer .row-two {
  height: 300px;
}

#footer div.left-mid {
  width: 50%;
}

#footer div.left-mid h5 {
  font-size: 1.1rem;
}

#footer div.right-mid {
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer div.right-mid h5 {
  margin-bottom: 16px;
  font-size: 1.1rem;
}

#footer p.uline {
  border-bottom: 1px solid white;
  padding: 24px 0;
  margin-right: 20px;
}

#footer div.copy {
  background: #000000;
  opacity: 0.2;
  padding: 16px 0;
}

#footer div.copy-content > div {
  width: 33%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer div.copy-content > div:nth-of-type(2) {
  text-align: center;
}

#footer div.copy-content > div:nth-of-type(3) {
  text-align: right;
}

#footer div.copy-content > div small {
  font-size: 0.75rem;
  margin-top: 30px;
}
/*# sourceMappingURL=main.css.map */