@font-face {
  font-family: SctoGroteskA-Bold;
  src: url(../fonts/SctoGroteskA-Bold.woff2) format("woff2");
}

@font-face {
  font-family: SctoGroteskA-Medium;
  src: url(../fonts/SctoGroteskA-Medium.woff2) format("woff2");
}

@font-face {
  font-family: SctoGroteskA-Regular;
  src: url(../fonts/SctoGroteskA-Regular.woff2) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  cursor: pointer;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input, textarea {
  outline: none;
}

ul, ol, dd {
  list-style: none;
}

html {
  font-family: "SctoGroteskA-Regular";
  color: #252422;
}

h1 {
  font-size: 6rem;
  font-family: "SctoGroteskA-Bold";
}

h2 {
  font-size: 2.5rem;
  font-family: "SctoGroteskA-Bold";
}

p {
  font-weight: 400;
}

.container {
  margin: 0 4%;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.emphasis {
  font-size: 1.5rem;
  font-family: "SctoGroteskA-Bold";
}

.bring-to-front {
  z-index: 9999;
}

#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 76px;
}

#nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#nav ul li {
  border-bottom: 3px solid transparent;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#nav ul li:hover {
  border-bottom: 3px solid #252422;
}

#nav ul li a {
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

#nav ul li a:hover > a {
  color: #252422;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: #252422;
  color: #f9cdcd;
  width: 100vw;
  height: 100vh;
  padding: 30px 5% 100px;
}

.modal-content header {
  margin-bottom: 24px;
}

.modal-content header h3 {
  font-size: 1.5rem;
  font-family: "SctoGroteskA-Bold";
}

.modal-content header i {
  font-size: 2rem;
  color: white;
}

.modal-content header div.left {
  width: 25%;
}

.modal-content header div.middle {
  width: 70%;
}

.modal-content header div.right {
  width: 5%;
}

.modal-content header .close:hover, .modal-content header .close:focus {
  cursor: pointer;
}

section#modal-slider {
  overflow-x: auto;
  white-space: nowrap;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

section#modal-slider div.modal-card {
  display: inline-block;
  scroll-snap-align: start;
  width: 450px;
  height: 70vh;
  padding: 0 20px;
  border-right: 1px solid #f9cdcd;
  margin-bottom: 50px;
  -webkit-transition: -webkit-transform .8s ease;
  transition: -webkit-transform .8s ease;
  transition: transform .8s ease;
  transition: transform .8s ease, -webkit-transform .8s ease;
}

section#modal-slider div.modal-card:hover {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

section#modal-slider div.modal-card > * {
  padding-bottom: 24px;
}

section#modal-slider div.modal-card img {
  width: 100%;
  height: auto;
}

section#modal-slider div.modal-card h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "SctoGroteskA-Bold";
}

section#modal-slider div.modal-card p {
  font-size: 1.1rem;
}

section#modal-slider div.modal-card a.btn {
  background: #252422;
  color: #f9cdcd;
  font-size: 0.9rem;
  line-height: 1.5;
  min-width: 170px;
  padding: .375rem .75rem;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: 1px solid #252422;
  border-radius: 24px;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  border: 1px solid #f9cdcd;
}

section#modal-slider div.modal-card a.btn:hover {
  background: #252422;
  color: #ffffff;
}

section#modal-slider div.modal-card a.btn:hover {
  background: #f9cdcd;
  color: #252422;
}

#home h1 {
  color: #252422;
}

#home h1.heading-right {
  text-align: right;
}

#home video {
  margin-bottom: 20px;
}

#home section#basic-is {
  border-top: 1px solid #252422;
  border-bottom: 1px solid #252422;
  padding: 10px 0;
}

#home section#basic-is div.flex-container {
  height: 300px;
}

#home section#basic-is p {
  width: 50%;
  font-size: 2.5rem;
  padding: 40px 0 0 0;
}

#home section#basic-is div {
  background: url("/assets/img/branding-img.svg") right top/20% no-repeat scroll;
}

#home section#basic-is a.btn {
  background: #ffffff;
  color: #252422;
  font-size: 0.9rem;
  line-height: 1.5;
  min-width: 170px;
  padding: .375rem .75rem;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: 1px solid #252422;
  border-radius: 24px;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  margin-bottom: 150px;
}

#home section#basic-is a.btn:hover {
  background: #252422;
  color: #ffffff;
}

#home section#featured {
  padding: 150px 0 0 0;
}

#home section#featured h2 {
  margin-bottom: 150px;
}

#home section#featured div.flex-container {
  overflow-x: auto;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

#home section#featured div.flex-container div.card {
  scroll-snap-align: start;
  min-width: 500px;
  min-height: 305px;
  padding-right: 12%;
}

#home section#featured div.flex-container div.card img {
  height: 40px;
  width: auto;
  margin-bottom: 12px;
}

#home section#featured div.flex-container div.card span {
  display: block;
  margin-bottom: 100px;
  border-bottom: 2px solid #252422;
  width: 40px;
  height: 1px;
}

#home section#featured div.flex-container div.card p.company {
  border-bottom: 1px solid #252422;
  font-family: "SctoGroteskA-Bold";
  padding-bottom: 12px;
  margin-bottom: 10px;
}

#home section#featured div.flex-container div.card p.desc {
  font-size: 1rem;
  padding-bottom: 100px;
}

#home div.bg-primary {
  background: #252422;
  color: #f9cdcd !important;
}

#home div.bg-primary section#basic {
  padding-top: 100px;
  padding-bottom: 150px;
}

#home div.bg-primary section#basic h1 {
  color: #f9cdcd;
  line-height: 1.0;
  margin-bottom: 30px;
}

#home div.bg-primary section#basic p {
  margin-bottom: 80px;
}

#home div.bg-primary section#basic a.btn {
  background: #252422;
  color: #f9cdcd;
  font-size: 0.9rem;
  line-height: 1.5;
  min-width: 170px;
  padding: .375rem .75rem;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: 1px solid #252422;
  border-radius: 24px;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  border: 1px solid #f9cdcd;
}

#home div.bg-primary section#basic a.btn:hover {
  background: #252422;
  color: #ffffff;
}

#home div.bg-primary section#basic a.btn:hover {
  background: #f9cdcd;
  color: #000000;
}

#home div.bg-primary section#basic video {
  width: 75%;
  margin-left: 25%;
}

#home section#featured-news h2 {
  padding-bottom: 40px;
}

#home section#featured-news div.wrap {
  padding: 20px 0 40px 0;
  border-top: 1px solid #f9cdcd;
}

#home section#featured-news div.left {
  width: 30%;
}

#home section#featured-news div.left img {
  width: 100%;
  height: auto;
}

#home section#featured-news div.center {
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
}

#home section#featured-news div.center p > a {
  font-size: 2.5rem;
  font-family: "SctoGroteskA-Regular";
}

#home section#featured-news div.right {
  width: 30%;
  text-align: right;
  background: url("/assets/img/arrow.svg") right top/15% no-repeat scroll;
}

div#work-wrapper nav ul li:nth-child(1) {
  border-bottom: 3px solid #252422;
}

main#work p {
  font-size: 1.2rem;
}

main#work h1 {
  margin-bottom: 100px;
}

main#work h1 + div {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 100px;
}

main#work h1 + div p.desc-right {
  width: 27%;
}

main#work section.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #252422;
  padding: 20px 0;
}

main#work section.showcase div.card {
  height: 825px;
  width: 32.4%;
}

main#work section.showcase div.card div.media {
  margin-bottom: 24px;
}

main#work section.showcase div.card div.media img {
  width: 100%;
  height: auto;
}

main#work section.showcase div.card h3 {
  font-size: 2rem;
  font-family: "SctoGroteskA-Bold";
  margin-bottom: 24px;
}

main#work section.showcase div.card p.card-desc {
  width: 50%;
}

main#work section.showcase div.first-card {
  border-right: 1px solid #252422;
}

main#work section.showcase div.first-card p.date {
  margin-bottom: 50%;
}

main#work section.showcase div.first-card h2 {
  margin-bottom: 35px;
}

main#work section.showcase div.first-card p.desc {
  margin-bottom: 40px;
  width: 90%;
}

main#work section.showcase div.first-card a.btn {
  background: #ffffff;
  color: #252422;
  font-size: 0.9rem;
  line-height: 1.5;
  min-width: 170px;
  padding: .375rem .75rem;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: 1px solid #252422;
  border-radius: 24px;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

main#work section.showcase div.first-card a.btn:hover {
  background: #252422;
  color: #ffffff;
}

div#about-wrapper {
  background: #252422;
  color: #f9cdcd;
}

div#about-wrapper nav ul li:nth-child(2) {
  border-bottom: 3px solid #f9cdcd;
}

div#about-wrapper main#about section.first {
  border-bottom: 1px solid white;
}

div#about-wrapper main#about section.first div {
  width: 50%;
}

div#about-wrapper main#about section.first div.right {
  padding-top: 240px;
}

div#about-wrapper main#about section.first div.right h1 {
  margin-bottom: 55px;
}

div#about-wrapper main#about section.first div.right p {
  font-size: 2rem;
  margin-bottom: 65px;
}

div#about-wrapper main#about section#annoying-pics {
  height: 1400px;
  padding: 200px 0;
}

div#about-wrapper main#about section#annoying-pics div.left {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#about-wrapper main#about section#annoying-pics div.right {
  width: 75%;
  position: relative;
}

div#about-wrapper main#about section#annoying-pics div.right p {
  font-size: 1.4rem;
}

div#about-wrapper main#about section#annoying-pics div.right img {
  width: 500px;
}

div#about-wrapper main#about section#annoying-pics div.right .img-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

div#about-wrapper main#about section#annoying-pics div.right .img1-num {
  position: absolute;
  top: 693px;
  left: 0;
}

div#about-wrapper main#about section#annoying-pics div.right .img-2 {
  position: absolute;
  top: 300px;
  left: 150px;
  z-index: 5;
}

div#about-wrapper main#about section#annoying-pics div.right .img2-num {
  position: absolute;
  top: 991px;
  left: 151px;
}

div#about-wrapper main#about section#annoying-pics div.right .img-3 {
  position: absolute;
  top: 50px;
  left: 300px;
  z-index: 3;
}

div#about-wrapper main#about section#annoying-pics div.right .img3-num {
  position: absolute;
  top: 65px;
  left: 815px;
}

div#about-wrapper main#about section#annoying-pics div.right .img-4 {
  position: absolute;
  top: 400px;
  left: 500px;
  z-index: 2;
}

div#about-wrapper main#about section#annoying-pics div.right .img4-num {
  position: absolute;
  top: 1088px;
  left: 504px;
}

div#about-wrapper main#about section.agency-snapshot {
  border-bottom: 1px solid white;
}

div#about-wrapper main#about section.agency-snapshot h1 {
  border-top: 1px solid #f9cdcd;
  border-bottom: 1px solid #f9cdcd;
  font-size: 12rem;
}

div#about-wrapper main#about section.agency-snapshot div.first {
  padding: 26px 0;
}

div#about-wrapper main#about section.agency-snapshot div.first p {
  width: 33%;
}

div#about-wrapper main#about section.agency-snapshot div.first p.txt-right {
  text-align: right;
}

div#about-wrapper main#about section.agency-snapshot div.wrap div.left {
  width: 33%;
  margin-top: 100px;
}

div#about-wrapper main#about section.agency-snapshot div.wrap div.right {
  width: 66%;
}

div#about-wrapper main#about section.agency-snapshot div.wrap div.right div.card {
  width: 50%;
  margin-top: 100px;
  padding-right: 20%;
}

div#about-wrapper main#about section.agency-snapshot div.wrap div.right div.card > * {
  margin-bottom: 30px;
}

div#about-wrapper main#about section.agency-snapshot div.wrap div.right div.card h3 {
  font-size: 2rem;
}

div#about-wrapper main#about section.agency-snapshot div.wrap div.right div.card h2 {
  font-size: 4rem;
}

div#about-wrapper section.list-section {
  padding-bottom: 100px;
}

div#about-wrapper section.list-section .second li {
  margin-bottom: 24px;
}

div#about-wrapper section#awards > div {
  padding: 50px 0;
  height: 400px;
  margin-bottom: 70px;
}

div#about-wrapper section#awards > div div.left {
  width: 33%;
}

div#about-wrapper section#awards > div div.right {
  width: 66%;
}

div#about-wrapper section#awards > div div.right p {
  font-size: 2.5rem;
  padding-right: 48%;
  margin-bottom: 50px;
}

div#about-wrapper section#awards > div div.right a.btn {
  background: #252422;
  color: #f9cdcd;
  font-size: 0.9rem;
  line-height: 1.5;
  min-width: 170px;
  padding: .375rem .75rem;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: 1px solid #252422;
  border-radius: 24px;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  border: 1px solid #f9cdcd;
}

div#about-wrapper section#awards > div div.right a.btn:hover {
  background: #252422;
  color: #ffffff;
}

div#about-wrapper section#awards > div div.right a.btn:hover {
  background: #f9cdcd;
  color: #252422;
}

div#about-wrapper section#tabs {
  padding-bottom: 300px;
}

div#about-wrapper section#tabs div.left {
  width: 50%;
}

div#about-wrapper section#tabs div.left a {
  position: relative;
  opacity: 0.6;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

div#about-wrapper section#tabs div.left a:hover {
  opacity: 1.0;
}

div#about-wrapper section#tabs div.left a h1 {
  font-size: 5rem;
  display: inline-block;
}

div#about-wrapper section#tabs div.left a span {
  font-size: 1.5rem;
  position: absolute;
  top: 15px;
  padding-left: 20px;
}

div#about-wrapper section#tabs div.right {
  width: 50%;
  padding: 115px 0 0 7%;
}

div#about-wrapper section#tabs div.right div.tabcontent {
  width: 70%;
  height: auto;
  display: none;
}

div#about-wrapper section#tabs div.right div.tabcontent img {
  width: 100%;
  height: auto;
}

div#about-wrapper #footer {
  background: white;
  color: #252422;
}

div#about-wrapper #footer h5 {
  color: #252422;
}

div#about-wrapper #footer p.uline {
  border-bottom: 1px solid #252422;
}

div#about-wrapper #footer ul.ftr-social {
  display: none;
}

div#about-wrapper #footer > div.copy {
  background: lightgrey;
}

div#about-wrapper #footer > div.copy small {
  color: #5a5853;
}

div#news-wrapper nav ul li:nth-child(3) {
  border-bottom: 3px solid #252422;
}

main#newspage header {
  height: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main#newspage header p {
  font-size: 4rem;
  padding-top: 12px;
}

main#newspage div.wrap {
  padding: 20px 0 40px 0;
  border-top: 1px solid #252422;
}

main#newspage div.left {
  width: 30%;
}

main#newspage div.left img {
  width: 100%;
  height: auto;
}

main#newspage div.center {
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
}

main#newspage div.center p > a {
  font-size: 2.5rem;
  font-family: "SctoGroteskA-Regular";
  text-transform: uppercase;
}

main#newspage div.center strong {
  padding-right: 30px;
}

main#newspage div.right {
  width: 30%;
  text-align: right;
  background: url("/assets/img/arrow-black.svg") right top/15% no-repeat scroll;
}

div#thinking-wrapper {
  background: #252422;
  color: #f9cdcd;
}

div#thinking-wrapper nav ul li:nth-child(4) {
  border-bottom: 3px solid #f9cdcd;
}

div#thinking-wrapper main#thinking header {
  height: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#thinking-wrapper main#thinking header p {
  font-size: 6rem;
  padding-top: 12px;
}

div#thinking-wrapper main#thinking div.info {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 200px;
}

div#thinking-wrapper main#thinking div.info p {
  font-size: 1.3rem;
  line-height: 1.8;
}

div#thinking-wrapper main#thinking div.info h2 {
  margin-bottom: 30px;
}

div#thinking-wrapper main#thinking div.info div.left {
  width: 32%;
}

div#thinking-wrapper main#thinking div.info div.right {
  width: 65%;
  padding-right: 33%;
}

div#thinking-wrapper div.wrap {
  padding: 20px 0 40px 0;
  border-top: 1px solid #f9cdcd;
}

div#thinking-wrapper div.wrap div.left {
  width: 30%;
}

div#thinking-wrapper div.wrap div.left img {
  width: 100%;
  height: auto;
}

div#thinking-wrapper div.wrap div.center {
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
}

div#thinking-wrapper div.wrap div.center p > a {
  font-size: 2.5rem;
  font-family: "SctoGroteskA-Regular";
  text-transform: uppercase;
}

div#thinking-wrapper div.wrap div.center strong {
  padding-right: 30px;
}

div#thinking-wrapper div.wrap div.right {
  width: 30%;
  text-align: right;
  background: url("/assets/img/arrow.svg") right top/12% no-repeat scroll;
}

div#thinking-wrapper #footer {
  background: white;
  color: #252422;
}

div#thinking-wrapper #footer h5 {
  color: #252422;
}

div#thinking-wrapper #footer p.uline {
  border-bottom: 1px solid #252422;
}

div#thinking-wrapper #footer ul.ftr-social {
  display: none;
}

div#thinking-wrapper #footer > div.copy {
  background: lightgrey;
}

div#thinking-wrapper #footer > div.copy small {
  color: #5a5853;
}

#footer {
  background: #252422;
  color: white;
  padding-top: 100px;
}

#footer h5 {
  color: white;
}

#footer .row-one {
  height: 150px;
}

#footer div.left-upper {
  width: 50%;
}

#footer div.right-upper {
  width: 50%;
}

#footer div.right-upper a {
  text-decoration: underline;
}

#footer .row-two {
  height: 300px;
}

#footer div.left-mid {
  width: 50%;
}

#footer div.left-mid h5 {
  font-size: 1.1rem;
}

#footer div.right-mid {
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer div.right-mid h5 {
  margin-bottom: 16px;
  font-size: 1.1rem;
}

#footer p.uline {
  border-bottom: 1px solid white;
  padding: 24px 0;
  margin-right: 20px;
  font-size: 1.2rem;
}

#footer div.copy {
  background: #1d1c1b;
  padding: 16px 0;
}

#footer div.copy-content > div {
  width: 33%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer div.copy-content > div:nth-of-type(2) {
  text-align: center;
}

#footer div.copy-content > div:nth-of-type(3) {
  text-align: right;
}

#footer div.copy-content > div small {
  font-size: 0.75rem;
  margin-top: 30px;
  color: grey;
}
/*# sourceMappingURL=main.css.map */