// fonts
@font-face
    font-family: SctoGroteskA-Bold
    src: url(../fonts/SctoGroteskA-Bold.woff2) format('woff2')

@font-face
    font-family: SctoGroteskA-Medium
    src: url(../fonts/SctoGroteskA-Medium.woff2) format('woff2')

@font-face
    font-family: SctoGroteskA-Regular
    src: url(../fonts/SctoGroteskA-Regular.woff2) format('woff2')

// resets 
*
    margin: 0
    padding: 0
    box-sizing: border-box
a
    text-decoration: none
    color: inherit
    cursor: pointer
    display: inline-block
button
    background-color: transparent
    color: inherit
    border-width: 0
    cursor: pointer
input
    box-sizing: border-box
input, textarea
    outline: none
ul, ol, dd
    list-style: none

// variables, palette, typography
$primary: hsl(40, 4%, 14%)
$accent: hsl(0, 79%, 89%)
$neutral: hsl(0, 0%, 96%)

$bold: 'SctoGroteskA-Bold'
$med: 'SctoGroteskA-Medium'
$reg: 'SctoGroteskA-Regular'
$baseLineHeight: 2.0

html
    font-family: $reg
    color: $primary
h1
    font-size: 6rem
    font-family: $bold
h2
    font-size: 2.5rem
    font-family: $bold
p
    font-weight: 400

// utils
.container
    margin: 0 4%
.flex-container
    display: flex
.emphasis
    font-size: 1.5rem
    font-family: $bold
.bring-to-front
    z-index: 9999

// button styles
=sassBtn($bg, $col, $fs, $lh, $minWth)
    background: $bg
    color: $col
    font-size: $fs
    line-height: $lh    // use to set xy pad
    min-width: $minWth
    // base btn styles
    padding: .375rem .75rem
    display: inline-block
    cursor: pointer
    text-align: center
    border: 1px solid $primary
    border-radius: 24px
    font-weight: 700
    user-select: none
    vertical-align: middle
    white-space: nowrap
    transition: color .5s ease,
    background-color .5s ease, 
    border-color .5s ease
    &:hover
        background: $primary
        color: #ffffff

// navbar
#nav
    display: flex
    justify-content: space-between
    align-items: center
    height: 76px
    ul
        display: flex
        width: 45%
        justify-content: space-between
        li
            border-bottom: 3px solid transparent
            transition: all 1s ease
            &:hover
                border-bottom: 3px solid $primary
            a
                transition: color 1s ease
                &:hover > a
                    color: $primary

// modal
.modal
    display: none
    position: fixed
    z-index: 1
    left: 0
    top: 0
    width: 100%
    height: 100%

// Modal Content Box 
.modal-content
    background-color: $primary
    color: $accent
    width: 100vw
    // height: 100vh
    padding: 30px 5% 100px
    header
        margin-bottom: 24px
        h3
            font-size: 1.5rem
            font-family: $bold
        i
            font-size: 2rem
            color: white
        div.left
            width: 25%
        div.middle
            width: 70%
        div.right
            width: 5%
        .close:hover, .close:focus
            cursor: pointer

section#modal-slider
    overflow-x: auto
    white-space: nowrap
    overscroll-behavior-x: contain
    scroll-snap-type: x mandatory

    div.modal-card
        display: inline-block
        scroll-snap-align: start
        width: 450px
        // height: 70vh
        padding: 0 20px
        border-right: 1px solid $accent
        margin-bottom: 50px
        transition: transform .8s ease
        &:hover
            transform: translateY(-100px)
        >*
            padding-bottom: 24px
        img
            width: 100%
            height: auto
        h3
            text-transform: uppercase
            font-size: 1.5rem
            font-family: $bold
        p
            font-size: 1.1rem
        a.btn
            @include sassBtn($primary, $accent, 0.9rem, 1.5, 170px)
            border: 1px solid $accent
            &:hover
                background: $accent
                color: $primary

// homepage 
#home
    h1
        color: $primary
    h1.heading-right
        text-align: right
    video
        margin-bottom: 20px

    section#basic-is
        border-top: 1px solid $primary
        border-bottom: 1px solid $primary
        padding: 10px 0
        div.flex-container
            height: 300px
        p
            width: 50%
            font-size: 2.5rem
            padding: 40px 0 0 0
        div
            background: url("/assets/img/branding-img.svg") right top / 20% no-repeat scroll
        a.btn
            @include sassBtn(#ffffff, $primary, 0.9rem, 1.5, 170px)
            margin-bottom: 150px

    section#featured
        padding: 150px 0 0 0
        h2
            margin-bottom: 150px
        div.flex-container
            overflow-x: auto
            overscroll-behavior-x: contain
            scroll-snap-type: x mandatory
            div.card
                scroll-snap-align: start
                min-width: 500px
                min-height: 305px
                padding-right: 12%
                img
                    height: 40px
                    width: auto
                    margin-bottom: 12px
                span
                    display: block
                    margin-bottom: 100px
                    border-bottom: 2px solid $primary
                    width: 40px
                    height: 1px
                p.company
                    border-bottom: 1px solid $primary
                    font-family: $bold
                    padding-bottom: 12px
                    margin-bottom: 10px
                p.desc
                    font-size: 1rem
                    padding-bottom: 100px

    div.bg-primary
        background: $primary
        color: $accent !important

        section#basic
            padding-top: 100px
            padding-bottom: 150px
            h1
                color: $accent
                line-height: 1.0
                margin-bottom: 30px
            p
                margin-bottom: 80px
            a.btn
                @include sassBtn($primary, $accent, 0.9rem, 1.5, 170px)
                border: 1px solid $accent
                &:hover
                    background: $accent
                    color: #000000
            video
                width: 75%
                margin-left: 25%

    section#featured-news
        h2
            padding-bottom: 40px
        div.wrap
            padding: 20px 0 40px 0
            border-top: 1px solid $accent
        div.left
            width: 30%
            img
                width: 100%
                height: auto
        div.center
            width: 40%
            flex-direction: column
            justify-content: space-between
            margin-left: 20px
            p > a
                font-size: 2.5rem
                font-family: $reg
        div.right
            width: 30%
            text-align: right
            background: url("/assets/img/arrow.svg") right top / 15% no-repeat scroll

// work page
div#work-wrapper nav ul li:nth-child(1)
    border-bottom: 3px solid $primary

main#work
    margin-bottom: 100px
    p
        font-size: 1.2rem
    h1
        margin-bottom: 100px
    h1 + div
        justify-content: flex-end
        margin-bottom: 100px
        p.desc-right
            width: 27%
    section.showcase
        display: flex
        justify-content: space-between
        border-top: 1px solid $primary
        padding: 20px 0
        div.card
            height: 825px
            width: 32.4%
            div.media
                margin-bottom: 24px
                img
                    width: 100%
                    height: auto
            h3
                font-size: 2rem
                font-family: $bold
                margin-bottom: 24px
            p.card-desc
                width: 50%
        div.first-card
            p.date
                margin-bottom: 50%
            h2
                margin-bottom: 35px
            p.desc
                margin-bottom: 40px
                width: 90%
            a.btn
                @include sassBtn(#ffffff, $primary, 0.9rem, 1.5, 170px)
                border-right: 1px solid $primary

// about page
div#about-wrapper
    background: $primary
    color: $accent
    nav ul li:nth-child(2)
        border-bottom: 3px solid $accent

    main#about
        margin-bottom: 100px
        section.first
            border-bottom: 1px solid white
            div
                width: 50%
            div.right
                padding-top: 240px
                h1
                    margin-bottom: 55px
                p
                    font-size: 2rem
                    margin-bottom: 65px
        section#annoying-pics
            height: 1400px
            padding: 200px 0
            div.left
                width: 25%
                display: flex
                align-items: center

            div.right
                width: 75%
                position: relative
                p
                    font-size: 1.4rem
                img
                    width: 500px
                .img-1
                    position: absolute
                    top: 0
                    left: 0
                    z-index: 4
                .img1-num
                    position: absolute
                    top: 693px
                    left: 0
                .img-2
                    position: absolute
                    top: 300px
                    left: 150px
                    z-index: 5
                .img2-num
                    position: absolute
                    top: 991px
                    left: 151px
                .img-3
                    position: absolute
                    top: 50px
                    left: 300px
                    z-index: 3
                .img3-num
                    position: absolute
                    top: 65px
                    left: 815px
                .img-4
                    position: absolute
                    top: 400px
                    left: 500px
                    z-index: 2
                .img4-num
                    position: absolute
                    top: 1088px
                    left: 504px

        section.agency-snapshot
            border-bottom: 1px solid white
            h1
                border-top: 1px solid $accent
                border-bottom: 1px solid $accent
                font-size: 12rem
            div.first
                padding: 26px 0
                p
                    width: 33%
                p.txt-right
                    text-align: right
            div.wrap
                div.left
                    width: 33%
                    margin-top: 100px
                div.right
                    width: 66%
                    div.card
                        width: 50%
                        margin-top: 100px
                        padding-right: 20%
                        > *
                            margin-bottom: 30px
                        h3
                            font-size: 2rem
                        h2
                            font-size: 4rem
    // list section
    section.list-section
        padding-bottom: 100px
        .second li
            margin-bottom: 24px

    // awards section

    section#awards
        > div
            padding: 50px 0
            height: 400px
            margin-bottom: 70px
            div.left
                width: 33%
            div.right
                width: 66%
                p
                    font-size: 2.5rem
                    padding-right: 48%
                    margin-bottom: 50px
                a.btn
                    @include sassBtn($primary, $accent, 0.9rem, 1.5, 170px)
                    border: 1px solid $accent
                    &:hover
                        background: $accent
                        color: $primary


    section#tabs
        padding-bottom: 300px
        div.left
            width: 50%
            a
                position: relative
                opacity: 0.6
                transition: opacity .3s ease
                &:hover
                    opacity: 1.0

                h1
                    font-size: 5rem
                    display: inline-block
                span
                    // display: inline-block
                    font-size: 1.5rem
                    position: absolute
                    top: 15px
                    padding-left: 20px
        div.right
            width: 50%
            padding: 115px 0 0 7%
            div.tabcontent
                width: 70%
                height: auto
                display: none
                img
                    width: 100%
                    height: auto

    #footer
        background: white
        color: $primary
        h5
            color: $primary
        p.uline
            border-bottom: 1px solid $primary
        ul.ftr-social
            display: none
    #footer > div.copy
        background: lightgrey
        small
            color: lighten($primary, 20%)

// news
div#news-wrapper nav ul li:nth-child(3)
    border-bottom: 3px solid $primary

main#newspage
    header
        height: 400px
        justify-content: space-between
        align-items: center
        p
            font-size: 4rem
            padding-top: 12px
    div.wrap
        padding: 20px 0 40px 0
        border-top: 1px solid $primary
    div.left
        width: 30%
        img
            width: 100%
            height: auto
    div.center
        width: 40%
        flex-direction: column
        justify-content: space-between
        margin-left: 20px
        p > a
            font-size: 2.5rem
            font-family: $reg
            text-transform: uppercase
        strong
            padding-right: 30px
    div.right
        width: 30%
        text-align: right
        background: url("/assets/img/arrow-black.svg") right top / 15% no-repeat scroll

// thinking
div#thinking-wrapper
    background: $primary
    color: $accent
    nav ul li:nth-child(4)
        border-bottom: 3px solid $accent

    main#thinking
        header
            height: 400px
            justify-content: space-between
            align-items: center
            p
                font-size: 6rem
                padding-top: 12px
        div.info
            justify-content: space-between
            margin-bottom: 200px
            p
                font-size: 1.3rem
                line-height: 1.8
            h2
                margin-bottom: 30px
            div.left
                width: 32%
            div.right
                width: 65%
                padding-right: 33%

    div.wrap
        padding: 20px 0 40px 0
        border-top: 1px solid $accent
        div.left
            width: 30%
            img
                width: 100%
                height: auto
        div.center
            width: 40%
            flex-direction: column
            justify-content: space-between
            margin-left: 20px
            p > a
                font-size: 2.5rem
                font-family: $reg
                text-transform: uppercase
            strong
                padding-right: 30px
        div.right
            width: 30%
            text-align: right
            background: url("/assets/img/arrow.svg") right top / 12% no-repeat scroll

    #footer
        background: white
        color: $primary
        h5
            color: $primary
        p.uline
            border-bottom: 1px solid $primary
        ul.ftr-social
            display: none
    #footer > div.copy
        background: lightgrey
        small
            color: lighten($primary, 20%)

// contact
div#contact-wrapper nav ul li:nth-child(5)
    border-bottom: 3px solid $primary

#contact
    header
        justify-content: space-between
        padding: 100px 0 200px 0
        border-bottom: 1px solid $primary
        div.left
            width: 49%
            img
                width: 100%
                height: auto
        div.right
            width: 49%
            p
                margin-bottom: 100px
    div.info
        > *
            width: 33%
        div.left
            p
                font-size: 46px !important
        div.mid, div.right
            > *
                margin-bottom: 24px
            h3
                font-size: 1.2rem
                font-family: $bold
            a
                text-decoration: underline

    div.first
        padding: 26px 0
    p.what-is-this
        width: 33%
    p.txt-right
        text-align: right

section#offices
    padding: 20px 0
    margin-bottom: 100px
    div.one-third
        width: 33%
        border-right: 1px solid $primary
        max-height: 2000px
    div.two-thirds
        width: 66%
        div.card
            display: inline
            height: 632px
            width: 50%
            padding: 0 20px
            .pointless
                justify-content: space-between
                font-size: 1.3rem
            div.media
                margin-bottom: 24px
                img
                    width: 100%
                    height: auto
            h3
                font-size: 2rem
                font-family: $bold
                margin-bottom: 24px
    p.rule
        width: 100%
        margin: 20px
        border-bottom: 1px solid $primary
        margin-bottom: 20px

#contact > div > section.pre-footer
    border-top: 1px solid $primary
    margin-bottom: 100px
    div.soc
        > *
            width: 33%
        div.cent
            h3
                margin-bottom: 24px
                font-size: 2.2rem
            ul li a
                margin-bottom: 24px
                font-size: 1.2rem
                text-decoration: underline

        div.right
            h4
                margin-bottom: 24px
                font-size: 1.5rem
            p.uline
                border-bottom: 1px solid $primary
                font-size: 1.2rem
                padding-bottom: 24px
                width: 100%

#footer
    background: $primary
    color: white
    padding-top: 100px
    h5
        color: white
    .row-one
        height: 150px
    div.left-upper
        width: 50%

    div.right-upper
        width: 50%
        a
            text-decoration: underline
    .row-two
        height: 300px
    div.left-mid
        width: 50%
        h5
            font-size: 1.1rem
    div.right-mid
        width: 40%
        justify-content: space-between
        h5
            margin-bottom: 16px
            font-size: 1.1rem

    p.uline
        border-bottom: 1px solid white
        padding: 24px 0
        margin-right: 20px
        font-size: 1.2rem
    div.copy
        background: darken($primary, 3%)
        // opacity: 0.2
        padding: 16px 0
    div.copy-content > div
        width: 33%
        justify-content: space-between
        &:nth-of-type(2)
            text-align: center
        &:nth-of-type(3)
            text-align: right
        small
            font-size: 0.75rem
            margin-top: 30px
            color: grey
